<div class="container">
    <div class="col-md-9">
      <div class="row">
          <div class="col-md-12 col-md-offset-0 heading2 animate-box">
              <h2>Majestic Tawang</h2>
          </div>
        <h4>A small town located in Arunachal Pradesh</h4>
      </div>
      <div class="row">
        <p>
          Tawang was historically part of Tibet inhabited by the Monpa people. Geographically Tawang town is 
          located approximately 555 kilometres (345 mi) from Guwahati and 320 kilometres (200 mi) from Tezpur. 
          Tawang has an average elevation of 2,669 metres (8,757 ft).
        </p>
      </div>
      <div class="row">
        <h4>Place of interest and activities</h4>
        <div>
          
        </div>
      </div>
      <div class="row">
        <h4>Transportation</h4>
        <p>
            The nearest airports are at Salonibari Airport in Tezpur (319 kilometres (198 mi)) and 
            Lokpriya Gopinath Bordoloi International Airport, Guwahati. By road, Tawang is 440 kilometres (270 mi) 
            from capital Itanagar and is connected with buses run by APSRTC and private services. 
            The nearest railway station is at Naharlagun, which is connected to major cities.
        </p>
      </div>
      <div class="row">
        <h4>Best time to visit</h4>
        <p>
          Throught out the year. Tawang receives snowfall every year during December–January.
        </p>
      </div>
      <div class="row">
        <h4>Tags</h4>
        <p>
          tawang, arunachal pradesh, sela pass, nuranang falls, tawang monastery, snowy mountains,
          trekking, rafting, camping
        </p>
      </div>
      <div class="row">
        <h4>Maps</h4>
          <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56581.94508166347!2d91.84396446791864!3d27.582007657917558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375cf4f8474f47b7%3A0x6448080fa5e6771c!2sTawang!5e0!3m2!1sen!2sin!4v1542899479501" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div><br/>
    </div>
    <div class="col-md-3">
      <div class="row">
        <app-search-sidebar></app-search-sidebar>
      </div>
    </div>
  </div>  