<div class="row">
  <div class="col-md-12">
    <div (drop)="drop($event)" (dragover)="allowDrop($event)">
      <div class="upload-drop-zone" id="drop-zone">
          <input #hiddenInputFile type="file" m style="display:none" (change)="onChange($event)">
        <span>Just drag and drop files here Or <a (click)="openFileUploadControl(hiddenInputFile)">Browse file from here</a></span>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="thumbnailImages.length > 0">
    <div class="col-md-12">
        <div class="preview-image" *ngFor="let image of thumbnailImages">
            <img [src]="domSanitizer.bypassSecurityTrustUrl(image.srcData) || 'http://placehold.it/180'" alt="{{image.name}}" class="img-thumbnail" width="104" height="36">
            <div class="preview-image-close"><i (click)="removeImage(image)" class="fa fa-times fa-lg"></i></div>
        </div>  
    </div>  
</div>