<nav class="triprhino-nav" role="navigation">
    <div class="top-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2">
                    <div id="triprhino-logo"><a href="javascript:void(0);">TRIPRHINO</a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li><button type="button" class="btn btn-Success">YOUR PROPERTY</button></li>
                        <li><a href="#accommodations">Accommodations</a></li>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#places">Places</a></li>
                        <li><a href="javascript:void(0);">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<aside id="triprhino-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../assets/contents/images/img_bg_1.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Experience History and Culture</h2>
                                <h1>Amazing Assam Tour</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../assets/contents/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Road Trip</h2>
                                <h1>Assam to Meghalaya</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../assets/contents/images/img_bg_5.jpg);">
                <div class="overlay"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Trek Tawang Snowy Peaks, Gateway to Serenity</h2>
                                <h1>Arunachal Pradesh</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../assets/contents/images/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Get lost in Dzukou valley</h2>
                                <h1>Experience Nagaland</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../assets/contents/images/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Take a boat ride in Dawki River, fall in love with</h2>
                                <h1>Meghalaya</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            </ul>
        </div>
</aside>
<section id="accommodations" class="bg-light">
    <div id="triprhino-reservation">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="search-wrap">
                <div class="container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#accommodation"><i class="flaticon-resort"></i> Accommodation</a></li>
                        <li><a data-toggle="tab" href="#events"><i class="flaticon-car"></i> Events</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div id="accommodation" class="tab-pane fade in active">
                        <form method="post" class="triprhino-form">
                            <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                            <label for="date">Where:</label>
                            <div class="form-field">
                                <input type="text" id="location" class="form-control" placeholder="Search Location">
                            </div>
                            </div>
                            </div>
                        <div class="col-md-2">
                            <div class="form-group">
                            <label for="date">Check-in:</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                            <label for="date">Check-out:</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                            <label for="guests">Guest</label>
                            <div class="form-field">
                                <i class="icon icon-arrow-down3"></i>
                                <select name="people" id="people" class="form-control">
                                <option value="#">1</option>
                                <option value="#">2</option>
                                <option value="#">3</option>
                                <option value="#">4</option>
                                <option value="#">5+</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary btn-block">
                        </div>
                        </div>
                    </form>
                    </div>
                    <div id="events" class="tab-pane fade">
                        <form method="post" class="triprhino-form">
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                            <label for="date">Where:</label>
                            <div class="form-field">
                                <input type="text" id="location" class="form-control" placeholder="Search Location">
                            </div>
                            </div>
                            </div>
                        <div class="col-md-3">
                            <div class="form-group">
                            <label for="date">Start Date:</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                            <label for="date">Return Date:</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                            </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" name="submit" id="submit" value="Find Car" class="btn btn-primary btn-block">
                        </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="triprhino-hotel">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center triprhino-heading animate-box">
        <h2>Recommended Hotels</h2>
        <p>We love to tell our successful far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 animate-box">
        <div class="owl-carousel">
          <div class="item">
            <div class="hotel-entry">
              <a href="hotels.html" class="hotel-img" style="background-image: url(../assets/contents/images/hotel-1.jpg);">
                <p class="price"><span>&#x20B9;120</span><small> /night</small></p>
              </a>
              <div class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h3><a href="#">Hotel Edison</a></h3>
                <span class="place">New York, USA</span>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="hotel-entry">
              <a href="hotels.html" class="hotel-img" style="background-image: url(../assets/contents/images/hotel-2.jpg);">
                <p class="price"><span>&#x20B9;120</span><small> /night</small></p>
              </a>
              <div class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h3><a href="#">Hotel Edison</a></h3>
                <span class="place">New York, USA</span>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="hotel-entry">
              <a href="hotels.html" class="hotel-img" style="background-image: url(../assets/contents/images/hotel-3.jpg);">
                <p class="price"><span>&#x20B9;120</span><small> /night</small></p>
              </a>
              <div class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h3><a href="#">Hotel Edison</a></h3>
                <span class="place">New York, USA</span>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="hotel-entry">
              <a href="hotels.html" class="hotel-img" style="background-image: url(../assets/contents/images/hotel-4.jpg);">
                <p class="price"><span>&#x20B9;120</span><small> /night</small></p>
              </a>
              <div class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h3><a href="#">Hotel Edison</a></h3>
                <span class="place">New York, USA</span>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="places" class="bg-light">
    <div class="triprhino-tour triprhino-light-grey">
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center triprhino-heading animate-box">
                <h2>Popular Destinations</h2>
                <p>Far from the city lights there exists beautiful mountains covered with snow, 
                forests full of wild flowers, rivers full of shining water and lands full of adventures.</p>
                <p>Welcome to North East</p>
            </div>
            </div>
        </div>
        <div class="tour-wrap">
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-1.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Tawang</h2>
                <span class="city">Tawang, Arunachal Pradesh</span>
                <span class="price">&#x20B9;8000</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-2.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Experience the wilderness</h2>
                <span class="city">Kaziranga, Assam</span>
                <span class="price">&#x20B9;5000</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-3.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Philippines</h2>
                <span class="city">Lipa, Philippines</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-4.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Greece</h2>
                <span class="city">Athens, Greece</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-5.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Greece</h2>
                <span class="city">Athens, Greece</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-6.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Greece</h2>
                <span class="city">Athens, Greece</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-7.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Greece</h2>
                <span class="city">Athens, Greece</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
            <a href="#" class="tour-entry animate-box">
            <div class="tour-img" style="background-image: url(../assets/contents/images/tour-8.jpg);">
            </div>
            <span class="desc">
                <p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Family Tour in Greece</h2>
                <span class="city">Athens, Greece</span>
                <span class="price">&#x20B9;450</span>
            </span>
            </a>
        </div>
    </div>
</section>
<footer id="triprhino-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-3 triprhino-widget">
                    <h4>Tour Agency</h4>
                    <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                    <ul class="triprhino-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    </ul>
                </div>
            <div class="col-md-3 col-md-push-1">
                <h4>Contact Information</h4>
                <ul class="triprhino-footer-links">
                    <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                    <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                    <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                    <li><a href="#">yoursite.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | TRIPRHINO
                </p>
            </div>
        </div>
    </div>
</footer>