<div class="container">
  <div class="row container-row-leftspace">
    <div class="col-md-2 input-spacer">
      <div class="row">
        <div class="col-md-12">
          <span>Service Type</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <select class="form-control form-control-sm form-control-select" name="" id="">
            <option value="Test">Test</option>
            <option value="Test">Test</option>
            <option value="Test">Test</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-2 input-spacer">
      <div class="row">
        <div class="col-md-12 container-input-leftspace">
          <span>Price</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 input-group">
          <span class="input-group-addon"><i class="fa fa-inr"></i></span>
          <input class="form-control input-sm col-md-3" type="number">
        </div>
      </div>
    </div>
    <div class="col-md-2 input-spacer">
      <div class="row">
        <div class="col-md-12 container-input-leftspace">
          <span>Inventory</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 input-group">
          <span class="input-group-addon"><i class="fa fa-book"></i></span>
          <input class="form-control input-sm col-md-3" type="number">
        </div>
      </div>
    </div>
    <div class="col-md-1 input-spacer">
      <div class="row">
        <div class="col-md-12 container-input-leftspace">
          <span>Capacity</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control input-sm col-md-2" type="number">
        </div>
      </div>
    </div>
    <div class="col-md-1 input-spacer">
      <div class="row">
        <div class="col-md-12 container-input-leftspace">
          <span>Extras</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 input-group">
          <span class="input-group-addon"><i class="fa fa-inr"></i></span>
          <input class="form-control input-sm col-md-2" type="number">
        </div>
      </div>
    </div>
  </div>
  <div class="row container-row-leftspace">
    <div class="col-md-12 input-spacer">
      <div class="row">
        <div class="col-md-1">
          <span>Description</span>
        </div>
        <div class="col-md-8">
            <textarea class="form-control" style="height: auto" rows="2"></textarea>
          </div>
      </div>      
    </div>
  </div>
 </div>