<div class="row">
  <input type="button" (click)="detectChanges()">
  <div class="col-md-12">
    <div (drop)="drop($event)" (dragover)="allowDrop($event)">
      <div class="upload-drop-zone" id="drop-zone">
        <span>Just drag and drop files here</span>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="thumbnailImages.length > 0">
  <img *ngFor="let image of thumbnailImages" [src]="domSanitizer.bypassSecurityTrustUrl(image) || 'http://placehold.it/180'" alt="{{image.name}}" class="img-thumbnail" width="104" height="36">
</div>