<div class="container">
  <button type="button" class="btn btn-info btn-md" (click)=open(test)>Add Service</button>


  <app-modalcomponent id="myAddServiceModal" (onSubmitt)="onSave()" dialogTitle="Add Service" #myAddServiceModal>
    {{ bindModal(myAddServiceModal) }}
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Servie Description">
        <ng-template ngbPanelContent>
          <add-servicecomponent [(model)]="serviceDescriptionDataModel"></add-servicecomponent>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Ammenities">
        <ng-template ngbPanelContent>
          <div class="row container-row-leftspace">
            <div *ngFor="let amenity of ammenities" class="col-sm-1" style="cursor:pointer">
              <i class="material-icons" (click)="toggleSelect(amenity)" [ngClass]="{'ammenitySelected': amenity.isPresent}"
                [title]="amenity.name">{{amenity.icon}}</i>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel title="Upload Images">
        <ng-template ngbPanelContent>
          <app-fileupload [(fileModel)]="serviceDescriptionDataModel.imageData"></app-fileupload>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </app-modalcomponent>
</div>