.input-spacer {
    margin: 10px;
   }

   .custom-label {
       font-size: large;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   }

   .custom-input {
    height: 40px;
}

.ammenitySelected {
    color: #02b875;
    font-size: 30px;
}

.container-row-leftspace {
    margin-left: 3% !important;
}